
.nav-admin{
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: rgb(45, 45, 45);
    list-style: none;
}

.nav-admin li{
    display: block;
    background-color:rgb(45, 45, 45) ;
    width: 100%;
}
.nav-admin li a:hover{
    background-color: white;
    color: rgb(45, 45, 45) ;
}


.nav-admin li a{
    background-color: rgb(45, 45, 45);
    color: white;
    font-size: 15px;
    text-decoration: none;
    display: block;
    padding: 15px 20px;
    text-align: center;
    width: 100%;
    height: 100%;

}
main{
    width: 100vw;
    height: 90vh;
    display: flex;
    
    
    

}

.form-section{
    width: 90vw;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
form{
    width: 60%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 20px;
    
}
form div{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-evenly;
    border: 1px solid rgb(159, 158, 158);
    height: 100%;
  
}
.shopping-list{
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.shopping-list li {
    text-align: center;
    font-size: 20px;
}


.input-label{
    font-size: 35px;
}

.input-text{
    height: 40px;
    width: 60%;
    font-size: 40px;
}

.input-submit{
    font-size: 50px;
    border-radius: 10px;
    border: none;
    background-color: blue;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    transition: 0.4s background-color, 0.4s color, 0.8s font-size, 0.8s padding;
    
    box-shadow: 4px 4px 6px 0px rgba(0,0,0,0.2);
    
    
    
}

.input-submit:hover{
    background-color: white;
    color: blue;
    
}

.input-submit:active{
    background-color: white;
    color: blue;
    font-size: 45px;
    padding: 8px 16px;
}

@media (max-width: 767px)  {
   .input-text{
        font-size: 25px;
   }
   .input-label{
        font-size: 20px;
   }
   .input-submit{
    font-size: 30px;
    border-radius: 6px;
    border: none;
    background-color: blue;
    color: white;
    padding: 6px 14px;
    cursor: pointer;
    transition: 0.4s background-color, 0.4s color, 0.8s font-size, 0.8s padding;
    
    box-shadow: 4px 4px 6px 0px rgba(0,0,0,0.2);
     
}
.input-submit:hover{
    background-color: white;
    color: blue;
    
}

.input-submit:active{
    background-color: white;
    color: blue;
    font-size: 27px;
    padding: 5px 12px;
}
.nav-admin li a{
    background-color: rgb(45, 45, 45);
    color: white;
    font-size: 10px;
    text-decoration: none;
    display: block;
    padding: 10px 14px;
    text-align: center;
    width: 100%;
    height: 100%;

}

form{
    width: 80%;
}
   
    
 }
 
 @media (min-width: 768px) and (max-width: 1024px)  {
    .input-text{
        font-size:25px;
   }
   .input-label{
        font-size: 27px;
   }
   .input-submit{
    font-size: 37px;
    border-radius: 7px;
    border: none;
    background-color: blue;
    color: white;
    padding: 7px 16px;
    cursor: pointer;
    transition: 0.4s background-color, 0.4s color, 0.8s font-size, 0.8s padding;
    
    box-shadow: 4px 4px 6px 0px rgba(0,0,0,0.2);
  
   
 }
 .input-submit:hover{
    background-color: white;
    color: blue;
    
}

.input-submit:active{
    background-color: white;
    color: blue;
    font-size: 33px;
    padding: 6px 14px;
}
.nav-admin li a{
    background-color: rgb(45, 45, 45);
    color: white;
    font-size: 11.5px;
    text-decoration: none;
    display: block;
    padding: 11.5px 16px;
    text-align: center;
    width: 100%;
    height: 100%;

}
form{
    width: 70%;
}
}
 
 @media (min-width: 1025px) and (max-width: 1200px)  {
    .input-text{
        font-size:27px;
   }
   .input-label{
        font-size: 28.5px;
   }
   .input-submit{
    font-size: 45px;
    border-radius: 8.5px;
    border: none;
    background-color: blue;
    color: white;
    padding: 8.5px 18px;
    cursor: pointer;
    transition: 0.4s background-color, 0.4s color, 0.8s font-size, 0.8s padding;
    
    box-shadow: 4px 4px 6px 0px rgba(0,0,0,0.2);
  }
  .input-submit:hover{
    background-color: white;
    color: blue;
    
}

.input-submit:active{
    background-color: white;
    color: blue;
    font-size: 42px;
    padding: 7.5px 16px;
}
.nav-admin li a{
    background-color: rgb(45, 45, 45);
    color: white;
    font-size: 13.5px;
    text-decoration: none;
    display: block;
    padding: 13px 18px;
    text-align: center;
    width: 100%;
    height: 100%;

}

form{
    width: 65%;
}
    
 }




